.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown .dropdown__toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown__toggler:active {
  opacity: 0.5;
}

.dropdown__menu {
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.dropdown__menu-item {
  width: 150px;
  height: 32px;
  background: #f7f7f7;
  padding: 6px 12px;
  border: 1px solid #ececec;
  outline: none;
  font-size: 22px;
  line-height: 32px;
  cursor: pointer;
  list-style: none;
}

.dropdown__menu-item:active {
  opacity: 0.5;
}

.dropdown__btn-img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.dropdown__btn-img-dot {
  width: 5px;
  height: 5px;
  background-color: #000;
  margin: 3px;
  border-radius: 50%;
}
