.table {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

th {
  border-bottom: 1px solid #b9b29f;
  padding: 10px;
}
td {
  padding: 10px;
  border-right: 1px solid #b9b29f;
  border-left: 1px solid #b9b29f;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #ebeae5;
  border-bottom: 1px solid #b9b29f;
}

.table__btn-td {
  text-align: center;
  padding: 0;
}

.table__head-btn {
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  padding: 10px;

  /* padding-right: 30px; */
}

.table__head-title{
  margin-right: 5px;
}

/* .table__head-btn::after {
  content: "\1F811 \1F817";
} */

.table__active-td {
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(60, 233, 44);
  color: #fff;
}

.table__pending-td {
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(248, 161, 20);
  color: #fff;
}

.table__blocked-td {
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(235, 47, 47);
  color: #fff;
}
