.table {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

th {
  border-bottom: 1px solid #b9b29f;
  padding: 10px;
}
td {
  padding: 10px;
  border-right: 1px solid #b9b29f;
  border-left: 1px solid #b9b29f;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #ebeae5;
  border-bottom: 1px solid #b9b29f;

}

.table__btn-td{
  text-align: center;
  padding: 0;
}

.table__head-btn{
  cursor: pointer;
  padding: 5px;
}