.todoList{
  width: 500px;
  margin: 0 auto;
}

.todoList-item {
  display: flex;
  align-items: center;
  width: 500px;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 15px;
}

.todoList-text {
  margin-right: 20px;
}

.todoList-item button {
  height: 25px;
  background-color: rgb(29, 68, 238);
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  padding-right: 10px;
  padding-left: 10px;
  outline: none;
}

.todoList-item button:hover {
  background-color: rgb(85, 113, 236);
}

.todoList-item button:active {
  background-color: rgb(128, 147, 233);
  outline: none;
}
